body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

header {
  background-color: #323232;
  border-bottom: 3px solid #ff7211;
  box-shadow: #000 0 0 1px 0;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(4rem + 3px);
  box-sizing: border-box;
  color: #ccc;
  text-align: center; }

main {
  padding-top: 8vh; }

header h1 {
  display: inline-block;
  font-size: 1.8rem;
  height: 4rem;
  line-height: 4rem; }

.igallery-tab {
  display: inline-block;
  background-color: #ff7211;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  color: #fff;
  height: 4rem;
  box-sizing: border-box; }

.igallery-tab:hover {
  color: #fff; }

.igallery-tab img {
  height: 3rem;
  max-height: 3rem;
  width: auto;
  padding: 0.5rem;
  transition: all 220ms; }

.igallery-tab:hover img {
  padding: 0.3rem; }

.igallery-basket {
  color: #fff;
  font-size: 1.7rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  text-align: center;
  float: right;
  box-sizing: border-box;
  padding: 0.5rem; }

.igallery-basket:hover {
  color: #fff;
  background-color: #ff7211; }

.grid {
  max-width: 1200px;
  margin: auto; }

.grid-item {
  padding: 5px; }

.grid-item:hover {
  z-index: 2; }

.grid-item:hover img {
  transform: scale(1.15);
  filter: brightness(80%) grayscale(100%) contrast(120%); }

.grid-item img {
  width: 230px;
  transition: all 220ms;
  border-radius: 0.25rem; }

.quick-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 9rem;
  height: 3rem;
  margin: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.quick-links a {
  color: #fff;
  line-height: 2rem;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  display: inline-block; }

.grid-item:hover .quick-links {
  opacity: 1; }

/*# sourceMappingURL=app.css.map */
